$TTL    604800
@       IN      SOA     ns1.{{ dns_domain }}. admin.{{ dns_domain }}. (
                              3         ; Serial
                         604800         ; Refresh
                          86400         ; Retry
                        2419200         ; Expire
                         604800 )       ; Negative Cache TTL
;
@       IN      NS      ns1.{{ dns_domain }}.
ns1     IN      A       {{ dns_server_ip }}

{% for record in dns_records %}
{{ record.name }}    IN      A       {{ record.ip }}
{% endfor %}
