credentials:
  system:
    domainCredentials:
      - credentials:
          - string:
              id: "sonar-token"
              description: "Token de ket noi SonarQube"
              secret: "{{ sonar_token }}"
          - usernamePassword:
              id: "nexus-credentials"
              description: "Tai khoan day file len Nexus"
              username: "admin"
              password: "{{ nexus_password }}"
          - basicSSHUserPrivateKey:
              id: "rke-node-ssh-key" # Đã sửa
              description: "SSH Key vao RKE Docker Node" # Đã sửa
              privateKeySource:
                directEntry:
                  privateKey: "{{ rke_ssh_private_key }}" # Đã sửa (Nhớ update trong secrets.yml)
          - usernamePassword:
              id: "github-token-credentials"
              description: "Github Personal Access Token for Auto Tagging"
              username: "tac101a"
              password: "{{ github_token }}"
          - string:
              id: "slack-webhook-url"
              description: "Slack Webhook for Jenkins Alerts"
              secret: "{{ slack_webhook_url }}"
          - string:
              id: "slack-token"
              description: "Token for anhcnt-devops-lab"
              secret: "{{ slack_token }}"

jenkins:
  systemMessage: "Jenkins Server - Managed by JCasC (Architecture by AnhCNT)"
  numExecutors: 2
  nodes:
    - permanent:
        name: "docker-agent-node" # Đã sửa
        labelString: "docker-node" # Giữ nguyên nhãn này để Jenkinsfile cũ vẫn chạy được
        mode: EXCLUSIVE
        numExecutors: 2
        remoteFS: "/home/{{ ansible_user }}/jenkins-workspace"
        launcher:
          ssh:
            credentialsId: "rke-node-ssh-key" # Đã sửa cho khớp với ID ở trên
            host: "{{ core_tools_ip }}"
            port: 22
            sshHostKeyVerificationStrategy: "nonVerifyingKeyVerificationStrategy"

unclassified:
  globalLibraries:
    libraries:
      - name: "my-shared-lib"
        defaultVersion: "main"
        retriever:
          modernSCM:
            scm:
              gitSource:
                remote: "https://github.com/tac101a/jenkins-shared-library"
                credentialsId: "github-token-credentials"
                traits:
                  - "gitBranchDiscovery"
        cachingConfiguration:
          refreshTimeMinutes: 0
  sonarGlobalConfiguration:
    installations:
      - name: "sonar-server"
        serverUrl: "http://sonar.abc"
        credentialsId: "sonar-token"
  slackNotifier:
    teamDomain: "anhcnt-devops-lab"
    tokenCredentialId: "slack-token"

jobs:
  - script: |
      multibranchPipelineJob('Spring-Petclinic-AutoCreated') {
          displayName('Spring Petclinic (Auto Provisioned)')
          description('Job nay duoc tao tu dong boi JCasC Seed Job.')
          branchSources {
              git {
                  id('petclinic-repo')
                  remote('https://github.com/tac101a/spring-petclinic.git')
                  credentialsId('github-token-credentials')
                  includes('*')
              }
          }
          factory {
              workflowBranchProjectFactory {
                  scriptPath('Jenkinsfile')
              }
          }
          orphanedItemStrategy {
              discardOldItems {
                  numToKeep(5)
              }
          }
      }