credentials:
  system:
    domainCredentials:
      - credentials:
          - string:
              id: "sonar-token"
              description: "Token de ket noi SonarQube"
              secret: "{{ sonar_token }}"
          - usernamePassword:
              id: "nexus-credentials"
              description: "Tai khoan day file len Nexus"
              username: "admin"
              password: "{{ nexus_password }}"
          - basicSSHUserPrivateKey:
              id: "vm2-ssh-key"
              description: "Chia khoa SSH vao VM2 Agent"
              privateKeySource:
                directEntry:
                  privateKey: "{{ vm2_ssh_private_key }}"
          - usernamePassword:
              id: "github-token-credentials"
              description: "Github Personal Access Token for Auto Tagging"
              username: "tac101a"
              password: "{{ github_token }}"
          - string:
              id: "slack-webhook-url"
              description: "Slack Webhook for Jenkins Alerts"
              secret: "{{ slack_webhook_url }}"
          - string:
              id: "slack-token"
              description: "Token for anhcnt-devops-lab"
              secret: "{{ slack_token }}"

jenkins:
  systemMessage: "Jenkins Server - Managed by JCasC (Architecture by AnhCNT)"
  numExecutors: 2
  nodes:
    - permanent:
        name: "agent-vm2"
        labelString: "docker-node"
        mode: EXCLUSIVE
        numExecutors: 2
        remoteFS: "/home/azureuser/jenkins-workspace"
        launcher:
          ssh:
            credentialsId: "vm2-ssh-key"
            host: "10.0.0.5"
            port: 22
            sshHostKeyVerificationStrategy: "nonVerifyingKeyVerificationStrategy"

unclassified:
  globalLibraries:
    libraries:
      - name: "my-shared-lib"
        defaultVersion: "main"
        retriever:
          modernSCM:
            scm:
              gitSource:
                remote: "https://github.com/tac101a/jenkins-shared-library"
                credentialsId: "github-token-credentials"
                traits:
                  - "gitBranchDiscovery"
        cachingConfiguration:
          refreshTimeMinutes: 0
  sonarGlobalConfiguration:
    installations:
      - name: "sonar-server"
        serverUrl: "http://sonar.abc"
        credentialsId: "sonar-token"
  slackNotifier:
    teamDomain: "anhcnt-devops-lab"
    tokenCredentialId: "slack-token"

jobs:
  - script: |
      multibranchPipelineJob('Spring-Petclinic-AutoCreated') {
          displayName('Spring Petclinic (Auto Provisioned)')
          description('Job nay duoc tao tu dong boi JCasC Seed Job.')
          branchSources {
              git {
                  id('petclinic-repo')
                  remote('https://github.com/tac101a/spring-petclinic.git')
                  credentialsId('github-token-credentials')
                  includes('*')
              }
          }
          factory {
              workflowBranchProjectFactory {
                  scriptPath('Jenkinsfile')
              }
          }
          orphanedItemStrategy {
              discardOldItems {
                  numToKeep(5)
              }
          }
      }